.App {
  text-align: center;
  color:#333333;
}


.navigation{
 
  background-color: white;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #333333;
  border-bottom: 2px solid #EAEAEA;
}

.link {
 color:#333333;
  text-decoration: none;
  transition: 250ms all ease-in-out;
}


.inputForm{
  text-align: left;
  font-size: 12px;
  line-height: 32px;
  margin-left: 50px;
  margin-top:50px;
}
input{
  border-radius: 2px;
  font-size:16px;
  background-color: white;
  border:solid 1px #EAEAEA;
  height: 40px;
  width:250px;
  }

  button{
    border-radius: 2px;
    font-size:16px;
    background-color: white;
    border:solid 1px #EAEAEA;
    height: 40px;
    width:150px;
    }

  .verify{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* text-align: center; */
    margin: 0 auto;
  }

  .timeline{
border-left:solid 2px #EAEAEA;
width:50vw;
height:100vh;
margin-top:50px;
  }
  .data{
    margin:0 auto;
    width:50vw;
    height:100vh;
  margin-left:50px;
      }

  .back-button{
    border:none;
    font-size:16px;
    margin:10px;
  }
  .splash-img{
    padding:20px;
  margin: 0 auto !important;
  display:block;
  }

  .item-name{
    color:#011A88;
    font-size:24px;
  }

  .simple-flex{
    display:flex;
    justify-content: space-evenly;
  }

  .vert-line{
    width: 3px; 
    background-color:#EAEAEA; 
    height: 100%; 
    margin-left:30px;
    z-index: -1;
  }
  .time-point{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
  }

  .timeline-block{
    height:48px;
    background-color:#F7F7F7; 
    font-size: 14px;
    min-width:300px;
    text-align:left;
    margin-right:50px;
  }
  .vert-icon{
    width:30px;
    /* margin-left:30px; */
    margin-top:20px;
  }
.item-img{
  margin:50px;
}
.t-key{
  font-weight: bold;
  padding-left:40px;
}


  /* .vert-line{
    width: 3px; 
    background-color:#EAEAEA; 
    height: 100%; 
    z-index: -1;
    align-content: center;
  }


  .timeline-block{
    height:48px;
    background-color:#F7F7F7; 
    font-size: 14px;
    /* min-width: 40px; */
    /* padding:5px; */
    /* text-align: center; }*/
  
  